@model TodoItemModel
<h2>@Model.TodoListName | Update item</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Todo" asp-action="ListDetails" asp-route-listId="@Model.TodoListId">@Model.TodoListName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update item</li>
    </ol>
</nav>
<form asp-controller="TodoItem" asp-action="UpdateItem" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="TodoListId" type="hidden" />
    <input asp-for="TodoListName" type="hidden" />
    <input asp-for="Id" type="hidden" />
    <div class="mb-3">
        <label asp-for="Text" class="form-label">Todo Item :</label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="EndDate" class="form-label">End Date :</label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Completed" class="form-label">Completed :</label>
        <input asp-for="Completed" class="form-check-input" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if (!string.IsNullOrWhiteSpace(ViewBag.OperationMessage))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.OperationMessage
        <br />
        <a asp-controller="Todo" asp-action="ListDetails" asp-route-listId="@Model.TodoListId">Go to List</a>
    </div>
}